*{ margin: 0;}
a{ text-decoration: none; color: #000;}
.conteneur{ margin: 0 auto; max-: 1170px;}
/*----------------------------------------------------HAUT DE PAGE*/
header {background: #000000; padding: 5px; text-align: center; }
header span{color: #fff; font-weight: bold; text-transform: uppercase; margin-right: 5%; }
header nav{ display: inline; }
header a{ color: #ffffff; text-decoration: none; padding: 5px; }
header nav a:hover{ background: #04baf6;}
/*----------------------------------------------------MILIEU DE PAGE*/
section{ padding: 30px; min-height: 800px; }
/*----------------------------------------------------BAS DE PAGE*/
footer{ background: #000; color: white; text-align: center; padding: 7px 0;}
/*----------------------------------------------------GENERAL*/
.erreur{ background: #ff0000; padding: 5px; margin: 5px; }
.validation{ background: #669933; padding: 5px; margin: 5px; }

.boutique-gauche ul li a:hover{background: #04baf6; color: #fff; }

.boutique-produit:hover{ background: #c0c0c0; }